
@import 'hero.scss';
@import 'header.scss';
@import 'offert.scss';
@import 'projects.scss';
@import 'partners.scss';
@import 'clients.scss';
@import 'footer.scss';
@import 'action.scss';
@import 'about.scss';



@keyframes size {
    0%   {transform: scale(0.9);}
    25%  {transform: scale(1);}
    50%  {transform: scale(1);}
    75%  {transform: scale(1);}
    100% {transform: scale(0.9);}
  }

  @keyframes opacity {
    0%   {opacity: 0.2;}
    25%  {opacity: 1;}
    50%  {opacity: 1;}
    75%  {opacity: 1;}
    100% {opacity: 0.2;}
  }





















