.about {
    padding-top: 49px;
    padding-bottom: 37px;

    @include breakpoint(large) {
        padding-bottom: 81px;
    }

    &__title {
        margin-bottom: 36px;
    }

    &__box-two {
        padding-bottom: 23px;

        @include breakpoint(large) {
            padding-bottom: 81px;
        }
    }

    &__title {
        @include breakpoint(large) {
            margin-bottom: 65px;
        }


    }
}