.action {
    padding-top: 43px;
    background-color: #184087;
    position:relative;

    @include breakpoint(large) {
        background-color: #DCE2ED;
        padding-top: 43px;
        padding-bottom: 43px;
        width: 100%;
        height:955px;
        display: flex;
        justify-content: center;
    }

    &__block {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        background-color: #184087;
    
       

        @include breakpoint(large) {
            margin-top: -230px;
            padding-top: 84px;
            padding-bottom: 104px;
            position: absolute;
            z-index: 10;
            padding-left:240px;
            padding-right:240px;
        }

    }

    &__border {
        padding-left: $padding-left;
        padding-right: $padding-right;
        z-index: 10;

    }

    &__container {
        max-width: 900px;
        margin-right: auto;
        margin-left: auto;
        z-index: 10;
    }

    &__text {
        margin-bottom: 18px;

        @include breakpoint(medium) {
            margin-bottom: 30px;
        }
    }

    &__title {
        margin-bottom: 26px;
  

        @include breakpoint(medium) {
            margin-bottom: 45px;
        }
    }

    &__box-two {
        text-align: center;
        padding-bottom: 3px;

        @include breakpoint(medium) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom: 15px;
        }
    }

    &__tile {
        margin-bottom: 37px;
        transition: 2s;


        @include breakpoint(medium) {
            width: 48%;
            padding-left: 40px;
            padding-right: 45px;
            margin-bottom: 17px;
        }
    }

    &__tile:hover{
        transform: scale(1.1);
        transition-delay: 1s;
    }

    &__tile-top {
        padding-bottom: 13px;
        border-bottom: 1px solid rgba(125, 149, 190, 0.5);
        margin-bottom: 20px;

        @include breakpoint(medium) {
            padding-bottom: 8px;
            margin-bottom: 23px;
        }
    }

    &__tile-num {
        height: 70px;
        @include breakpoint(medium) {
            margin-bottom: 24px;
        }
    }

    &__tile-subtitle {
        color: rgb(192, 192, 192);
        font-family: $font-family;
        font-size: 14px;
        line-height: 1.8;

        @include breakpoint(medium) {
            font-size: 16px;
            line-height: 1.9;
        }
    }

    &__box-one {
        margin-bottom: 43px;

        @include breakpoint(medium) {
            margin-bottom: 70px;
        }
    }
}