.hero {
    position: relative;
    top: 0;
    left: 0;
    background-image: url(~img/hero.jpg);
    background-size:cover;
    height: 896px;
    padding-top: 35px;

    @include breakpoint(medium) {
        background-image: url(~img/hero-main.jpg);
        padding-top: 48px;
        height: 930px;
    }

    &__border {
        padding-left: 35px;
        padding-right: 35px;
    }

    &__top-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include breakpoint(medium) {
            flex-wrap: nowrap;
            max-width: 1820px;
            margin-right: auto;
            margin-left: auto;
            justify-content: space-between;
            flex-direction: row-reverse;
            margin-bottom: 45px;
        }
    }

    &__contact-btn-arrow {
        background-image: url(~img/arrow.png);
        height: 10px;
        width: 15px;
        margin-left: 22px;
    }

    &__contact-box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 33px;

        @include breakpoint(medium) {
            width: 60%;
            justify-content: flex-end;
            align-items: flex-start;
        }
    }

    &__contact-tel {
            transition: 1s;
            animation-name: opacity;
            animation-duration:5s;
            animation-iteration-count:infinite;
          
        @media only screen and (max-width: 375px) {
            font-size: 15px;
        }
        
            font-family: $font-family;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            color: white;
            letter-spacing: 0.1px;
            position: relative;
            bottom:4px;
            
        
        @include breakpoint(medium) {
            padding-top: 7px;
            font-size: 20px;
            margin-right:20px;
            bottom:0px; 
        }
    }

    &__contact-tel::before {
        content: url("~img/phone.png");
        position: relative;
        top: 4px;
        width: 120px;
        background-repeat: no-repeat;
        height: 59px;
        margin-right: 10px;
        @include breakpoint(small) {
            margin-right: 18px;
            right:5px;
        }
    }

    &__contact-tel:hover{
        color:#FF8A4B;
    }

    &__contact-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FF8A4B;
        font-family: $font-family;
        color: white;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 14px;
        transition: 1s;

        @include breakpoint(medium) {
            font-size: 15px;
        }
    }

    &__contact-btn:hover{
        background-color:#02AD76;
    }

    &__logo {
        background-image: url(~img/logo.png);
        background-repeat: no-repeat;
        width: 120px;
        height: 59px;
        margin-bottom: 34px;
    }

    &__text {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 24px;
       

        @include breakpoint(medium) {
            margin-bottom: 30px;
        }
    }

    &__title {
        margin-bottom: 21px;

        @include breakpoint(medium) {
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 44px;
        }
    }

    &__article {
        display: none;

        @include breakpoint(medium) {
            display: block;
            color: white;
            max-width: 900px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            font-size: 20px;
            font-family: $font-family;
            line-height: 1.8;
            letter-spacing: 1px;
            margin-bottom: 50px;
        }
    }

    &__play {
        background-image: url(~img/play.png);
        background-repeat: no-repeat;
        width: 100%;
        background-position: center;
        height: 59px;
        margin-bottom: 35px;

        @include breakpoint(medium) {
            background-image: url(~img/play-main.png);
            height: 75px;
            margin-bottom: 60px;
        }
    }

    &__form-box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        input {
            width: 100%;
            margin-bottom: 10px;
            text-align: center;
            font-family: $font-family;
            font-weight: 600;
            color: white;
            padding-top: 20px;
            padding-bottom: 18px;
        }

        @include breakpoint(medium) {
            margin-left: auto;
            margin-right: auto;
            max-width: 880px;
            flex-wrap: nowrap;

            form {
                display: flex;
                justify-content: flex-start;
                width: 100%;
            }

            input {
                width: 30%;
                margin-right: 6px;
            }
        }

    }

    &__btn {
        background-color: #02AD76;
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
        font-family: $font-family;
        font-weight: 600;
        color: white;
        padding-top: 20px;
        padding-bottom: 18px;
        font-size: 15px;
        transition: 1s;

        @include breakpoint(medium) {
            width: 40%;
        }
    }

    &__btn:hover{
        background-color:orange;
    }

    &__btn:after {
        content: url("~img/arrow.png");
        width: 10px;
        height: 10px;
        margin-left: 16px;
    }
}


