.projetcts {
    z-index: 2;
    position: relative;
    padding-top: 42px;
    padding-bottom: 34px;
    background-color: white;
    overflow-x: hidden;

    @include breakpoint(medium) {
        padding-bottom: 54px;
    }

    @include breakpoint(large) {
        margin-top:-100px;
        padding-top: 255px;
        padding-bottom: 0px;
    }

    &__container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }

    &__text {
        margin-bottom: 17px;

        @include breakpoint(large) {
            margin-bottom: 30px;
        }
    }

    &__title {
        margin-bottom: 38px;

        @include breakpoint(large) {
            margin-bottom: 120px;
        }
    }

    &__tile {
        display: flex;
        flex-wrap: wrap;
        padding-right: $padding-right;

        @include breakpoint(large) {
            width: 33.33%;
            padding-right: 0;
            margin-bottom: 60px;
        }
    }

    &__tile-title {
        font-family: $font-family;
        font-size: 22px;
        letter-spacing: 0.5px;
        color: #184087;
        font-weight: 400;
        margin-bottom: 20px;

        @include breakpoint(large) {
            letter-spacing: 0.005px;
            font-weight: 800;
            font-size: 19px;
        }
    }

    &__tile_img {
        background-image: url(~img/image-2.png);
        width: 300px;
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
        height: 192px;
        transition: 2s;
        margin-bottom: 23px;

        @include breakpoint(xlarge) {
            height: 290px;
            width: 400px;
            margin-bottom: 45px;
        }
    }

    &__tile_img:hover{
        opacity: 0.4;
        transform: scale(1.05);
    }

    &__tile_img--one{
        background-image: url(~img/image-3.jpg);   
    }

    &__tile_img--two{
        background-image: url(~img/image-4.jpg); 
    }

    &__tile_img--three{
        background-image: url(~img/image-8.jpg);
    }

    &__tile_img--four{
        background-image: url(~img/h.jpg);
    }

    &__tile_img--five{
        background-image: url(~img/p.jpg);
    }

    &__tile-discription {
        font-size: 15px;
        padding-right: 30px;
        letter-spacing: 0.5px;
        color: rgba(24, 64, 135, 0.4);
        font-weight: 400;
        margin-bottom: 20px;

        @include breakpoint(large) {
            margin-bottom: 24px;
        }
    }

    &__tile-webside {
        color: green;
        font-family: $font-family;
        letter-spacing: 0.5px;
        font-size: 15px;
        font-weight: 600;
        width: 100%;
        margin-bottom: 34px;
        transition: 1s;

        @include breakpoint(large) {
            margin-bottom: 0px;
        }
    }

    &__tile-webside:hover {
        color: orange;
    }

    &__tile-rwd {
        display: flex;
        width: 100%;
        margin-top: 32px;
        margin-bottom: 23px;
    }

    &__tile-rwd-img {
        background-image: url(~img/Pc.png);
        width: 50px;
        background-repeat: no-repeat;
        background-position-y: 2px;
        margin-right: 11px;
        height: 40px;
        position: relative;
        bottom: 5px;
    }

    &__info {
        padding-left: 10px;
    }

    &__tile-rwd-text {
        font-size: 15px;
        letter-spacing: 0.5px;
        color: #184087;
    }
}

.slick-dots li button {
    background-color: white;
    color: transparent !important;
    border: 2px solid #184087;
}

.slick-dots li button::before {
    font-size: 16px;
    color: #fff;
    opacity: 0.7;
}

.slick-dots li.slick-active button:before {
    color: transparent !important;
    background-color: #184087;
}
 .slick-dots li button {
    background-color: white;
    color: transparent !important;
    border: 2px solid #184087;
}

.slick-dots li button::before {
    font-size: 16px;
    color: #fff;
    opacity: 0.7;
}

.slick-dots li.slick-active button:before {
    color: transparent !important;
    background-color: #184087;
}

.slider-3 {
    @include breakpoint(large) {
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
        width: 1440px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @include breakpoint(xlarge) {
        padding-left: 0px;
        padding-right: 0px;
    }
}


#slideshow .slick-dots li button {
    background-color:#02AD76;
}

#slideshow .slick-dots li.slick-active button:before {
    color: transparent !important;
    background-color:white;
}

#slideshow .slick-dots li button::before {
    font-size: 16px;
    color: #02AD76;
    opacity: 0.7;
}
