.a-text {
    text-transform: uppercase;
    font-family: $font-family;
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;

    @include breakpoint(large) {
        font-size: 20px;
        letter-spacing: 0.5px;
    }


    &--small {
        @include breakpoint(large) {
            font-size: 17px;
        }
    }

    &--blue {
        color: #184087;
    }
}

.a-title {
    text-transform: uppercase;
    font-family: $font-family2;
    font-size: 54px;
    font-weight: 900;
    letter-spacing: 0.001px;
    text-align: center;
    color: white;
    line-height: 1.09;

    @include breakpoint(large) {
        font-size: 100px;
        letter-spacing: 1.5px;
    }

    &--small {
        font-size: 38px;
        letter-spacing: 1px;
        font-weight: 1200;

        @include breakpoint(large) {
            font-size: 80px;
            letter-spacing: 0.1px;
        }
    }

    &--blue {
        color: #184087;
    }
}

.a-article {
    font-family: $font-family;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #184087;
    line-height: 1.8;

    @include breakpoint(large) {
        font-size: 20px;
        line-height: 2.2;
        font-weight: 400;
        font-family: $font-family;
    }

    &--white {
        color: white;
        text-align: center;
    }

    &--realizaction {
        @include breakpoint(large) {
            line-height: 1.8;
        }
    }
}

.a-tile-title {
    font-family: $font-family2;
    font-weight: 700;
    color: #02AD76;
    font-size: 28px;
    letter-spacing: 1.4px;
    text-transform: uppercase;

    @include breakpoint(large) {
        font-size: 32px;
    }
}


.a-btn {
    letter-spacing: 0.5px;
    font-weight: 900;
    font-size: 24px;
    font-family: $font-family2;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #FF8A4B;
    color: white;
    transition: 2s;
}

.a-btn:hover{
   background-color:#02AD76;
}

.a-num {
    font-family: $font-family;
    font-weight: 800;
    color: white;
    font-size: 50px;

    @include breakpoint(large) {
        font-size: 60px;
    }
}